@model IEnumerable<MVCUnidad2Actividad4.Models.DatosCortoViewModel>
@{
    Layout = "_Layout";

}

<div id="principalPeliculas">
    @foreach (var categoria in Model)
    {
        <div id="pelis">
            <h1>@categoria.Categoria</h1>
            @foreach (var corto in categoria.Cortometrajes)
            {

                <div>
                    <a class="imgPelicula" href="~/Cortos/@corto.Nombre.Replace(" ", "-")">
                        <img src="~/images/portadas/@(corto.Id)_pc.jpg" alt="@corto.Nombre">
                    </a>
                    <div class="nombrePelicula">
                        <p>@corto.Nombre</p>
                    </div>
                </div>
            }
        </div>
    }
</div>