@model Actividad2.Models.ViewModels.AlumnoViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "LayoutRoles";
}
<main>
    <section id="datos">
        <h1>Dar de alta alumnos en el grupo</h1>
        <form method="post" action="~/Home/AlumnoAgregar">
            @if (User.IsInRole("Maestro"))
            {
                <label id="labels">
                    @User.Claims.FirstOrDefault(x => x.Type == "Nombre").Value está añadiendo un alumno a su grupo
                </label>
            }
            else if (User.IsInRole("Director"))
            {
                <label id="labels">
                    Alumno asignado al maestro: <input id="txtdisplay" type="text" asp-for="Maestro.Nombre" />
                </label>
            }
            <br />
            <label id="labels">Número de control del maestro:</label> <input id="txtdisplay" type="number" asp-for="Maestro.NoControl" readonly />
            <br />
            <label id="editar">Número de control:</label>
            <input type="text" asp-for="Alumno.NoControl" required />
            <br />
            <label id="editar">Nombre completo:</label>
            <input type="text" asp-for="Alumno.Nombre" required />
            <br />
            @Html.ValidationSummary()
            <input type="submit" value="Dar de alta" />

            <a href="~/Home/ListaAlumnos/@(Model.Maestro.Id)">Cancelar</a>
        </form>
    </section>
    
</main>