
@{
    Layout = "LayoutRoles";
}
<main>
    <section id="datos">
        @if (User.IsInRole("Maestro"))
        {
            <h1>Bienvenido</h1>
            <h3>@User.Claims.FirstOrDefault(x => x.Type == "Nombre").Value</h3>
            <form id="perfil">
                <br />
                <a href="~/Home/ListaAlumnos/@(int.Parse(User.Claims.FirstOrDefault(x=>x.Type=="Id").Value))">
                    Ver su grupo de alumnos
                </a>
                <br />
                <br />
                <br />
                <br />
                <a href="/Home/CerrarSesion">
                    Cerrar sesión
                </a>
                <br />
                <br />
                <br />
            </form>
        }
        @if (User.IsInRole("Director"))
        {
            <form id="perfil">
                <h1>Bienvenido</h1>
                <h3>@User.Claims.FirstOrDefault(x => x.Type == "Nombre").Value</h3>
                <br />
                <a href="~/Home/ListaMaestros">
                    Ver lista de los maestros
                </a>
                <br />
                <br />
                <br />
                <a href="~/Home/CerrarSesion">
                    Cerrar sesión
                </a>
                <br />
                <br />
                <br />
            </form>
        }
    </section>
</main>