@model IEnumerable<MVC2Unidad3Actividad.Models.Villancico>

@{
    Layout = "_Layout";
}
    <ul>
        @foreach (var villancico in Model)
        {
            <li><a href="~/Home/Villancico/@(villancico.Id)">@villancico.Nombre</a></li>
        }
    </ul>