@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "LayoutHome";
}
<h1>OOPS!</h1>
<h2>Parece que no tienes permisos para estar aquí :(</h2>
<a asp-action="Index" asp-controller="Home">Volver</a>