@model Actividad1.Models.Usuario
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "LayoutOursCafe";
}

<main>
    <a href="~/Home/Index">Volver a mi Perfil</a>
    <h1>Cambiar mi contraña</h1>
    <form method="post" action="~/Home/CambiarContra">
        <p>Escriba la contraseña con la que accede a esta cuenta</p>
        <input type="password" name="contra" placeholder="Contraseña actual" asp-for="Contrasena" required />
        <br />
        <input type="text" name="correo" value="@User.Claims.FirstOrDefault(x=>x.Type == "Correo").Value" style="visibility:hidden" />
        <p>Escriba la nueva contraseña que desea</p>
        <br />
        <input type="password" name="nuevaContra" placeholder="Nueva contraseña" required />
        <br />
        <input type="password" name="nuevaContraConfirm" placeholder="Confirme su nueva contraseña" required />
        @Html.ValidationSummary()
        <input type="submit" value="Cambiar" />
    </form>
</main>