@model Actividad1.Models.Usuario
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "LayoutOursCafe";
}
<main>
    <h1>Inicie sesión en OursCafé</h1>
    <p>
        Únete a OursCafé.
        <a href="~/Home/Registrar">Regístrate</a>
    </p>
    <form method="post" action="~/Home/IniciarSesion">
        <input type="email" asp-for="CorreoElectronico" placeholder="Correo electrónico" required />
        <br />
        <input type="password" asp-for="Contrasena" placeholder="Contraseña" required />
        <br />
        <input type="checkbox" id="mantener" name="persistente" value="true" />
        <label for="mantener">Mantenerme conectado</label>
        <br />
        <input type="submit" value="Iniciar sesión" />
        <br />
    </form>
    @Html.ValidationSummary()
    <a href="~/Home/RecuperarContra">¿Olvidaste tu contraseña?</a>
</main>