@inject MVCUnidad2Actividad4.Services.ClasificacionService servicio
<html>
<head>
    <title>ZooPlanet</title>
    <link href="~/StyleSheet.css" rel="stylesheet">
    <link href="~/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <h1><a href="~/"><b>Zoo</b>Planet</a></h1>
        <nav>
            <ul>
                <li><a href="~/">Home</a></li>
                <li>
                    <a href="~/Especie">Clasificación</a>
                    <ul>
                        @foreach (var c in servicio.Clasificacion)
                        {
                            <li><a href="~/Especie/@c.Nombre">@c.Nombre</a></li>
                        }
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>Programación Web</footer>
</body>
</html>