<html>
<head>
    <title>Pokédex</title>
    <link href="~/pokedex.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <section>
            <img src="~/pokedex.png" />
            <label>|&nbsp;LISTA DE POKÉMONES</label>
        </section>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p>
            DESARROLLO DE APLICACIONES CLIENTE/SERVIDOR
            <label id="footerNombres">
                |&nbsp;ALONDRA DELGADILLO SILOS Y SEBASTIÁN GARCÍA SAN MIGUEL
            </label>
        </p>
    </footer>
</body>
</html>